
{% load static %}
{% include 'accounts/header.html'  %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
    
	<div class="row mt-5">
    {% include 'includes/alert.html' %}
	{% include 'accounts/dashboard/sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">change your password</strong>
		</header>
		 <div class="card-body">
            {% comment %} <div class="text-right">
                <img src="{{userprofile.profile_picture.url}}" alt="profile picture" width="100" style="border-radius:50px;">
            </div>  {% endcomment %}
			<div class="row"> 
                <div class="col-md-12">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}



                        <div class="form-group">
                            <label>Current password</label>
                            <input type="password" name="current_password" placeholder="current passeord" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>create new password</label>
                            <input type="password" name="new_password" placeholder="new password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>confirm new password</label>
                            <input type="password" name="confirm_password" placeholder="confimr new password" class="form-control" required>
                        </div>

                       
                        <input type="submit" value="submit">

                    </form>
                    
                </div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>


{% include 'accounts/footer.html' %}
  

  <!-- loader -->
{% include 'accounts/loader.html' %}