
{% load static %}
{% include 'accounts/header.html'  %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row mt-5">
	{% include 'accounts/dashboard/sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order History </strong>
		</header>
		<div class="card-body">
			<div class="row"> 

                <div class="col-md-12">
                    <table class="tables table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                            
                            {% for order in orders %}
                          <tr>
                            <th scope="row"> <a href="{% url 'order_details' order.order_number%}">{{order.order_number}}</a></th>
                            <td>{{order.full_name}}</td>
                            <td>{{order.phone}}</td>
                            <td>₹{{order.order_total}}</td>
                            <td>{{order.created_at}}</td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                </div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>


{% include 'accounts/footer.html' %}
  

  <!-- loader -->
{% include 'accounts/loader.html' %}