{% include 'accounts/header.html'  %}
    <!-- END nav -->
	

    <div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
            <h1 class="mb-0 bread">Shop</h1>
          </div>
        </div>
      </div>
    </div>
<div class="text-right mr-3 bg-light">
<form action={% url 'search' %} method='GET'
	class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" "style="background: #f8f9fa;">
	<div class="input-group">
		<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
			aria-label="Search" name="keyword" aria-describedby="basic-addon2">
		<div class="input-group-append">
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-search fa-sm"></i>
			</button>
		</div>
	</div>
</form>
</div>
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row">
                        {% for product in product %}
		    			<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                            
		    				<div class="product d-flex flex-column">
		    					<a href="{{ product.get_url }}" class="img-prod"><img class="img-fluid" src="{{product.images.url}}" alt="Colorlib Template">
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<div class="d-flex">
		    							<div class="cat">
				    						<span>Lifestyle</span>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right mb-0">
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    							</p>
			    						</div>
			    					</div>
		    						<h3><a href="{{ product.get_url }}">{{product.product_name}}</a></h3>
		    						<div class="pricing">
			    						<p class="price"><span>₹{{product.price}}</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
		    							<a href="{{ product.get_url }}" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
		    							<a href="{{ product.get_url }}" class="buy-now text-center py-2">Add wishlist<span><i class="ion-ios-heart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
                        {% endfor %}
		    		</div class="text-center">
					
					<nav aria-label="Page navigation">
						{% if product.has_other_pages %}
						 <ul class="pagination justify-content-center mb-3">
						  {% if product.has_previous %}
						  <li class="page-item">
							<a class="page-link" href="?page={{product.previous_page_number}}" aria-label="Previous">
							  <span aria-hidden="true">&laquo;</span>
							  <span class="sr-only">Previous</span>
							</a>
						  </li>
						  {% else %}
						  <li class="page-item disabled">
							<a class="page-link" href="#" aria-label="Previous">
							  <span aria-hidden="true">&laquo;</span>
							  <span class="sr-only">Previous</span>
							</a>
						  </li>
						  {% endif %}
						  {% for i in product.paginator.page_range %}
							  {% if products.number == i %}
								  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
							  {% else %}
								  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
							  {% endif %}
						  {% endfor %}
						  {% if product.has_next %}
						  <li class="page-item">
							<a class="page-link" href="?page={{product.next_page_number}}" aria-label="Next">
							  <span aria-hidden="true">&raquo;</span>
							  <span class="sr-only">Next</span>
							</a>
						  </li>
						  {% else %}
							  <li class="page-item disabled">
								  <a class="page-link" href="#" aria-label="Next">
								   <span aria-hidden="true">&raquo;</span>
								  <span class="sr-only">Next</span>
								  </a>
							  </li>
						  {% endif %}
						</ul>
						{% endif %}
					  </nav>
										{% comment %} <div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div> {% endcomment %}
		    	</div>

		    	<div class="col-md-4 col-lg-2">
		    		<div class="sidebar">
							<div class="sidebar-box-2">
								<h2 class="heading">Categories</h2>
								<div class="fancy-collapse-panel">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingOne">
							<a href="{% url 'store' %}">All product</a>

							{% for category in links %}
                             <h4 class="panel-title">
                                <a href="{{ category.get_url }}">{{category.category_name}}</a>
                                
							{% endfor %}
                             </h4>
							
                         </div>
						</div>
                         <!--<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                             <div class="panel-body">
								{% for category in links %}
                                 <ul>
                                 	<li><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
								{% endfor %}
                                 	<li><a href="#">Casual</a></li>
                                 	<li><a href="#">Running</a></li>
                                 	<li><a href="#">Jordan</a></li>
                                 	<li><a href="#">Soccer</a></li>
                                 	<li><a href="#">Football</a></li>
                                 	<li><a href="#">Lifestyle</a></li>
                                 </ul>!-->
								
                            <!--</div>
                         </div>
                     </div>!-->
                     <!--<div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Women's Shoes
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Sport</a></li>
                                 	<li><a href="#">Casual</a></li>
                                 	<li><a href="#">Running</a></li>
                                 	<li><a href="#">Jordan</a></li>
                                 	<li><a href="#">Soccer</a></li>
                                 	<li><a href="#">Football</a></li>
                                 	<li><a href="#">Lifestyle</a></li>
                                </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingThree">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accessories
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Jeans</a></li>
                                 	<li><a href="#">T-Shirt</a></li>
                                 	<li><a href="#">Jacket</a></li>
                                 	<li><a href="#">Shoes</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingFour">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Clothing
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Jeans</a></li>
                                 	<li><a href="#">T-Shirt</a></li>
                                 	<li><a href="#">Jacket</a></li>
                                 	<li><a href="#">Shoes</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                  </div>
               </div>
							</div>!-->
				<div class="sidebar-box-2">
					<h2 class="heading">Price Range</h2>
					<form method="post" class="colorlib-form-2">
		              <div class="row">
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label for="guests">Price from:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" id="people" class="form-control">
		                        <option value="#">1</option>
		                        <option value="#">200</option>
		                        <option value="#">300</option>
		                        <option value="#">400</option>
		                        <option value="#">1000</option>
		                      </select>
		                    </div>
		                  </div>
		                </div>
		                <div class="col-md-12">
		                  <div class="form-group">
		                    <label for="guests">Price to:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" id="people" class="form-control">
		                        <option value="#">2000</option>
		                        <option value="#">4000</option>
		                        <option value="#">6000</option>
		                        <option value="#">8000</option>
		                        <option value="#">10000</option>
		                      </select>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </form>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>
		
{% include 'accounts/instafooter.html' %}

{% include 'accounts/footer.html' %}
  

    <!-- loader -->
{% include 'accounts/loader.html' %}
      
  

  
  </body>
</html>